//
// Home Page Styles
// ----------------------------------------

.home
  #logo
    top: 23px
    width: 96px
    margin-left: -48px

  #content
    padding-top: 0

#intro
  text-align: center
  padding: 68px 15px 0