//
// Variables
// -------------------------

// Solarized
// -------------------------
$base03:              #002b36
$base02:              #073642
$base01:              #586e75
$base00:              #657b83
$base0:               #839496
$base1:               #93a1a1
$base2:               #eee8d5
$base3:               #fdf6e3
$magenta:             #d33682
$violet:              #6c71c4
$cyan:                #2aa198
$blue:                #268bd2
$green:               #859900
$red:                 #dc322f
$yellow:              #b58900
$orange:              #cb4b16

// Bootstrap Colors
// -------------------------
$grayDarker:          $base03
$grayDark:            $base02
$gray:                $base00
$grayLight:           $base1
$grayLighter:         $base2
$white:               #fafafa

$pink:                $magenta
$purple:              $violet

// Links
// -------------------------
$linkColor:           #3ba1b3

// Typography
// -------------------------
$baseFontFamily:      Merriweather, Georgia, serif
$baseFontSize:        18px
$baseLineHeight:      1.8em
$textColor:           $gray
$headingsColor:       $grayDark
$headingsFontFamily:  Lato, "Helvetica", sans-serif
$maxContentWidth:     44rem

// Layout
// -------------------------
$footerHeight:        72px
