- wrap_layout :layout do
  %article#post.container
    %h1= current_article.title
    %small 
      by 
      = link_to 'Kevin Thompson', '/about'
      .date= current_article.date.strftime date.format
    = yield
    =# partial 'blog/partials/comments' if current_page.data.comments