<% wrap_layout :layout do %>
  <article class="post">
    <h1>
      <%= article_title(current_article.title) %>
    </h1>
    <p class="author">
      by
      <%= link_to 'Kevin Thompson', 'http://kevinthompson.info/' %>
    </p>
    <p class="date">
      <%= current_article.date.strftime date.format %>
    </p>
    <%= yield %>
  </article>
<% end %>
