!!!
%html
  = partial 'layouts/partials/head'
  %body{ body_attributes }
    #wrapper
      = partial 'layouts/partials/header'
      #content.container
        = yield
      #spacer
    = partial 'layouts/partials/footer'