!!!
%html
  = partial 'layouts/partials/head'
  %body
    #main{ class: page_class, data: { 'ajax-container' => '' } }
      = partial 'layouts/partials/header'
      #content
        ~ yield
      = partial 'layouts/partials/footer'