!!! 5
%html
  = partial 'layouts/partials/head'
  %body
    #main{ class: page_class }
      = partial 'layouts/partials/header'
      #content
        ~ yield
      = partial 'layouts/partials/footer'