---
layout: default
class: blog single-entry
---
<div class="line">
  <div class="unit size-two-thirds pvn">
    <article class="post">  
      <div class="module">
        <h1 class="title">{{ page.title }}</h1>
        <span class="date">{{ page.date | date: "%B %e, %Y" }}</span>
        {{ content }}
      </div>
    </article>
  </div>
  <div class="last unit size-one-third ptm">
    {% assign posts_in_category = site.categories.blog %}
    {% include post-navigation.html %}
  </div>
  <div class="line">
    <div class="unit size-two-thirds">
      <hr class="hires" />
      {% include comments.html %}
    </div>
    <div class="last unit size-one-third"></div>
  </div>
</div>