// 
// Type
// ----------------------------------------

// Font Family
$sans:    "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
$serif:   "Merriweather", Georgia, "Times New Roman", Times, serif
$display: "Lato", $sans
$mono:    Menlo, Monaco, Consolas, "Courier New", monospace

// Base
$base-font-size:    16px
$base-font-weight:  400
$base-font-family:  $sans
$base-line-height:  $ratio
$alt-font-family:   $serif

// Headings
$headingsFontFamily:  $display
$headingsFontWeight:  bold
$headingsColor:       $base3