// Typography
// -------------------------
$sans:    "Helvetica Neue", Helvetica, Arial, sans-serif
$serif:   "Merriweather", Georgia, "Times New Roman", Times, serif
$display: "Lato", $sans
$mono:    Menlo, Monaco, Consolas, "Courier New", monospace

// Base Fonts
// -------------------------
$base-font-size:    16px
$base-font-family:  $serif
$base-line-height:  $ratio
$alt-font-family:   $sans

// Headings
// -------------------------
$headingsFontFamily:  $display
$headingsFontWeight:  bold
$headingsColor:       inherit