%footer#footer
  %hr/
  .row-fluid
    .offset1.span10
      %small &copy; Kevin Thompson #{ Time.now.year } &mdash; Code, Content &amp; Design
      %a{ href: 'http://twitter.com/kevinthompson' }
        %small Follow <span>@kevinthompson</span> on Twitter