%hr
= partial 'layouts/partials/menu'
%hr
%footer#footer
  %small
    &copy; Kevin Thompson #{ Time.now.year }
    %span &mdash; Code, Content &amp; Design
    = link_to 'Top &uarr;', '#top'
= partial 'layouts/partials/scripts'