%header#header
  = link_to '/', id: 'logo' do
    = image_tag 'logo.png', alt: 'Kevin Thompson'
    %h1 Kevin Thompson
  .title
    Developer
  %nav
    = link_to '/', class: 'alt button back' do
      %span Home
    = link_to 'Menu', '#menu', class: 'alt button'