%header#header
  = link_to '/blog/', id: 'logo' do
    = image_tag 'logo.png', alt: 'Kevin Thompson'
    %h1 Kevin Thompson
  .title
    Developer
  %nav
    = back_link class: 'alt back button'
    = link_to 'Menu', '#menu', class: 'alt button'