#stripe
%header#header
  %nav.container
    = back_link class: 'alt back button'
    = link_to 'Menu', '#menu', class: 'alt button'
= link_to '/', id: 'logo' do
  = image_tag 'logo.png', alt: 'Kevin Thompson'