<header id="header">
  <% link_to '/', id: 'logo' do %>
    <div class="image-container">
      <div class="image">
        <%= image_tag '/assets/images/logo.png', alt: 'Logo' %>
      </div>
    </div>
    <h1>SignalException</h1>
  <% end %>
  <div class="title">
    By
    <%= link_to 'Kevin Thompson', 'http://kevinthompson.info' %>
  </div>
</header>
<hr/>
