---
title: Blog
---
.container
  %h1 Blog
  %p While I don't expect I'll be writing a best-seller any time soon, I do like to showcase my work and offer tips for, and insights into, the world of web development from time to time.
  %section.articles
  - articles_by_month.each_pair do |month,articles|
    %h2= month
    %ul
      - articles.each do |article|
        %li
          %a{ href: article.url }= article.title