//
// Base Styles
// ----------------------------------------

html, body
  height: 100%

body
  margin: 0
  font-family: $base-font-family
  font-size: $base-font-size
  font-weight: $base-font-weight
  line-height: $base-line-height
  color: $base1
  +text-shadow(1px 1px 0 $base03)
  +background(url('/images/bg.jpg'), $background-color)

img
  display: block
  width: 100%

a, a:visited, a:link, a:hover
  color: $link-color
  text-decoration: none
  border-bottom: 1px dotted $accent

.container
  padding-right: 15px
  padding-left: 15px
  max-width: 45em
  margin: 0 auto

.divided
  border-bottom: 1px solid $base03
  +box-shadow(0 1px 0 $accent)

  &.top
    +box-shadow(0 -1px 0 $base03)
    border-bottom: 0
    border-top: 1px solid $accent
