//
// Blog
// -------

p, pre, .gist, .img, img
  & + h2, & + h3, & + h4
    margin: 1rem 0 0

#post

  h1
    & + small
      display: block
      margin: 0 0 2rem

  *:last-child
    margin-bottom: 0 !important