//
// Type
// ----------------------------------------------------------------------------------------

// BODY TEXT
// ---------

p
  margin: 0 0 $base-line-height
  small
    font-size: $base-font-size - 2
    color: $base01

.lead
  margin-bottom: $base-line-height
  font-size: 20px
  font-weight: 200
  line-height: $base-line-height * 1.5

// HEADINGS
// --------

h1, h2, h3, h4, h5, h6
  margin: 0
  font-family: $headingsFontFamily
  font-weight: $headingsFontWeight
  color: $headingsColor
  text-rendering: optimizelegibility
  // Fix the character spacing for headings
  small
    font-weight: normal
    color: $base01

h1
  font-size: $ratio
  line-height: 1.25em
  margin: 0 0 .5rem
  small
    font-size: 18px

h2
  font-size: 1.25em
  line-height: $base-line-height * 2
  small
    font-size: 18px

h3
  font-size: 18px
  line-height: $base-line-height * 1.5
  small
    font-size: 14px

h4, h5, h6
  line-height: $base-line-height

h4
  font-size: 14px
  small
    font-size: 12px

h5
  font-size: 12px

h6
  font-size: 11px
  color: $base01
  text-transform: uppercase

// Page header
.page-header
  padding-bottom: $base-line-height - 1
  margin: $base-line-height 0
  border-bottom: 1px solid $base02

.page-header h1
  line-height: 1

// LISTS
// -----

// Unordered and Ordered lists
ul, ol
  padding: 0
  margin: 0 0 $base-line-height / 2 25px

ul ul, ul ol, ol ol, ol ul
  margin-bottom: 0

ul
  list-style: disc

ol
  list-style: decimal

li
  line-height: $base-line-height

ul.unstyled, ol.unstyled
  margin-left: 0
  list-style: none

// Description Lists
dl
  margin-bottom: $base-line-height

dt, dd
  line-height: $base-line-height

dt
  font-weight: bold
  line-height: $base-line-height - 1
  // fix jank Helvetica Neue font bug

dd
  margin-left: $base-line-height / 2

// Horizontal layout (like forms)
.dl-horizontal
  dt
    float: left
    width: 120px
    clear: left
    text-align: right
    +text-overflow
  dd
    margin-left: 130px

// MISC
// ----

// Horizontal rules
hr
  margin: $base-line-height 0
  border: 0
  border-top: 1px solid $base03
  border-bottom: 1px solid $accent

// Emphasis
strong
  font-weight: bold

em
  font-style: italic

.muted
  color: $base01

// Abbreviations and acronyms
abbr[title]
  cursor: help
  border-bottom: 1px dotted $base01

abbr.initialism
  font-size: 90%
  text-transform: uppercase

// Blockquotes
blockquote
  padding: 0 0 0 15px
  margin: 0 0 $base-line-height
  border-left: 5px solid $base02
  p
    margin-bottom: 0
    +font-shorthand(16px, 300, $base-line-height * 1.25)
  small
    display: block
    line-height: $base-line-height
    color: $base01
    &:before
      content: '\2014 \00A0'
  // Float right with text-align: right
  &.pull-right
    float: right
    padding-right: 15px
    padding-left: 0
    border-right: 5px solid $base02
    border-left: 0
    p, small
      text-align: right

// Quotes
q:before, q:after, blockquote:before, blockquote:after
  content: ""

// Addresses
address
  display: block
  margin-bottom: $base-line-height
  font-style: normal
  line-height: $base-line-height

// Misc
small
  font-size: .875em
  color: $base0

cite
  font-style: normal
