{% capture find_previous_url %}false{% endcapture %}
{% capture find_next_url %}true{% endcapture %}

{% capture previous_post_url %}{% endcapture %}
{% capture next_post_url %}{% endcapture %}

{% for post in posts_in_category %}
  
  {% if find_previous_url == 'true' %}
    {% capture previous_post_url %}{{ post.url }}{% endcapture %}
    {% capture find_previous_url %}false{% endcapture %}
  {% endif %}

  {% if post.url == page.url %}
    {% capture find_previous_url %}true{% endcapture %}
    {% capture find_next_url %}false{% endcapture %}
  {% endif %}

  {% if find_next_url == 'true' %}
    {% capture next_post_url %}{{ post.url }}{% endcapture %}
  {% endif %}
  
{% endfor %}

<div class="post-nav sticky">
  <ul class="article-nav mbn clear">
    {% if previous_post_url != '' %}<li class="previous"><a href="{{ previous_post_url }}" >&laquo; Previous Post</a></li>{% endif %} 
    {% if next_post_url != '' %}<li class="next"><a href="{{ next_post_url }}">Next Post &raquo;</a></li>{% endif %}
  </ul>
</div>