/**
 * Screen Stylesheet
 *
 * @package	http://kevinthompson.info
 * @author	Kevin Thompson <http://kevinthompson.info>
 *
 **/


/* Base Elements 
---------------------------------------- */
html						{ height:100%; background:#f6f4f0; }
body						{ padding:0 1em 2em; }
hr							{ border-top:solid 1px rgba(0,0,0,.1); border-bottom:solid 1px rgba(255,255,255,1); height:0; margin:1.5em; clear:both; }
img							{ width:100%; display:block; }
img[width]					{ width:auto; }
ul,
dl,
ol							{ margin:0 1.5em 2em; }
ul,
dl              { list-style-type:none; }
dt							{ font-weight:bold; }
dd							{ margin:0 0 1.2em; }
p							{ margin:0 1.5em 1em; }

p strong,
p code,
li code {
  background:#eee;
	display:inline-block; 
	display:*inline;
	padding:.2em .5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height:1.1em;
	font-weight:normal;
	border-bottom:1px solid #ddd;
}

p:last-child,
a:last-child,
li:last-child,
ul:last-child,
dl:last-child,
dd:last-child { margin-bottom:0; }
li p:last-child { margin-bottom:1.5em; }

/* Typography
---------------------------------------- */
body,
input,
select,
textarea					{ font:normal 13px/1.5 "Lucida Grande",Helvetica,Arial,sans-serif; color: #555; }

h1,.h1						{ font:bold 1.8em/1.25 "Nevis",Helvetica,Arial,sans-serif; color:#212526; margin:0 .8333em .8333em; text-transform:uppercase; }
h2,.h2						{ font:bold 1.5em/1.25 "Nevis",Helvetica,Arial,sans-serif; color:#373e40; margin:0 1em 1em; text-transform:uppercase; }
h3,.h3						{ font:bold 1.25em/1.25 "Nevis",Helvetica,Arial,sans-serif; color:#373e40; margin:0 1.2em 1em; text-transform:uppercase; }
h4 							{ font:bold 13px/1 Arial,sans-serif; }
.img + h2,
p + h2,
ul + h2						{ margin-top:2em; }

h1 span { color:#3ba1b3; }

a, 
a:active, 
a:visited					{ color:#3ba1b3; text-decoration:none; }
a:hover						{ color:#2ebbd5; text-decoration:none; }
a:link	 				  { -webkit-tap-highlight-color: #c1ecf4; } 

.small						  { font-size:12px; margin:0 1.5em; color:#888; }


/* Layout
---------------------------------------- */
.page, 
body > header,
body > footer				{ margin:0 auto; max-width:80em; }
body > header				{
	margin:0 auto 1em;
	max-width:80em;
	overflow:hidden;
}
body > footer       { margin-top:1em; }

.content             { position:relative; }


/* Content
---------------------------------------- */
body > header .module		{ padding:.5em 1.5em; }
.logo						{ margin:0 0 .2em; float:left; font-size:1.2em; color:#fff; }
.logo span      { color:#fff; }
.logo a						{ color:#fff; }
.date { float:left; color:#888; margin-right:1em; }

.intro { max-width:80em; margin:2em auto; }
.intro .name { font:bold 6em/1 "Nevis",Helvetica,Arial,sans-serif; text-transform:uppercase; color:#212526; margin:0 0 0 .1818em; }
.intro .tagline { font:bold 1em/1.25 "Nevis",Helvetica,Arial,sans-serif; margin:1.5em 0; text-transform:uppercase; color:#3ba1b3; text-align:center; }
.intro .tagline span { color:#212526; }
.intro .img { margin:-3.5em 0 .5em; position:relative; }

.bulleted                   { list-style-type:disc; }
.bulleted li                { margin:0 0 0 1.25em; }
.hires { display:none; }

.post-nav { margin:2em 1.5em; border-top:solid 1px rgba(0,0,0,.1); border-bottom:solid 1px rgba(255,255,255,1); }
.post-nav ul { margin:0; border-bottom:solid 1px rgba(0,0,0,.1); border-top:solid 1px rgba(255,255,255,1); }
.post-nav ul, .post-nav ul li { list-style-type:none !important; }
.post-nav a { padding:.75em 0; display:block; }

.comments h1 { position:absolute; z-index:10; top:0; padding:.5555em 0 0; background:#fff; }

.blog .post	.h3				{ margin-bottom:.5em; }
.blog .post + h2,
.blog ul + h2			{ margin-top:1em; }

.home .post + .post { margin-top:1.5em; }

.single-entry .post ul,
.single-entry .post ol { padding:0 0 0 1.5em; }
.single-entry .post ul { list-style-type:disc; }
.single-entry .post li { margin:0 0 .5em; }
.single-entry .post .img { border:2px solid #2b3033; background:#fff; padding:1px; -webkit-border-radius: 	3px; -moz-border-radius: 	3px; border-radius: 			3px; margin-top:1.5em; }
.single-entry .post h2 { margin-top:1.5em; border-top:solid 1px rgba(0, 0, 0, .1); padding-top:1.5em; }
.single-entry .post .title { margin-bottom:0; }
.single-entry .post .date { 
  margin:.5em 0 2.5em 1.5em; 
  float:none;
  background:#eee;
  color:#555;
	display:inline-block; 
	*display:inline;
	padding:.4em .5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height:1.1em;
	font-weight:normal;
	border-bottom:1px solid #ddd;
}
.twitter-follow-button      { float:right; margin-right:1.5em; display:none; }
.latest-post                { display:none; margin:0 0 0 .5em; }

.meta { margin:0 1.5em; }
.previous                   { float:left; }
.next                       { float:right; text-align:right; }

.menu					{ float:right; margin:0; }
.menu li				{ margin:0; float:left; }
.menu a 				{ color:#fff; text-transform:uppercase; }
.menu a[href="/blog/"] {
	padding:.2em .4em .1em .6em;
	display:inline-block;
	display:*inline;
	line-height:1.5em;
	font-weight:normal;
	position:relative;
	z-index:10;
}
.menu a[href="/blog/"]:active{ position:relative; top:1px;}

.img                        { margin:0 1.5em 1.5em; }
.refresh { display:none; }

/* Modules */
.module						{
  position:relative;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 75%, rgba(249,249,249,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(249,249,249,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 75%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 75%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 75%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 75%,rgba(249,249,249,1) 100%);
	-webkit-border-radius: 	8px;
	-moz-border-radius: 	8px;
	border-radius: 			8px;
	-webkit-box-shadow: rgba(40,40,40,0.1) 0 .1em 1px;
	-moz-box-shadow: 	rgba(40,40,40,0.1) 0 .1em 1px;
	box-shadow:		 	rgba(40,40,40,0.1) 0 .1em 1px;
	border:solid 1px #eee;
	margin:0 -1px 0;
	padding:1.5em 0;
}
.module p strong { background:#eee; }
.module hr      { margin:1.5em; }
.module hr.mtn  { margin-top:0; }

.dark						{
  background:#2b3033; 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3033', endColorstr='#2b3033',GradientType=0 );
  color:#f3f3f3; 
  border:none;
}
.dark h1,
.dark h2,
.dark h3					{ color:#fff; text-shadow: 0 -1px 1px rgba(0, 0, 0, .8), 0 1px 1px rgba(255, 255, 255, .4); }
.dark hr          { border-top:1px solid rgba(0,0,0,.5); border-bottom:1px solid rgba(255,255,255,.1); }

.medium						{ background:#3ba1b3; color:#f3f3f3; text-shadow:1px 1px 0 rgba(0,0,0,.1); }
.medium a					{ color:#fff; }
.medium h1,
.medium h2					{ color:rgba(0,0,0,.5); }
.medium hr					{ border-bottom:1px solid rgba(255,255,255,.2) }

.inset:first-child			{ 
	border-right:solid 1px rgba(0,0,0,.2); 
	-webkit-box-shadow: inset -10px 0 10px rgba(0,0,0,.1);
	-moz-box-shadow: 	inset -10px 0 10px rgba(0,0,0,.1);
	box-shadow:		 	inset -10px 0 10px rgba(0,0,0,.1);
}
.inset:last-child			{ 
	border-right:solid 1px rgba(0,0,0,.2); 
	-webkit-box-shadow: inset 10px 0 10px rgba(0,0,0,.1);
	-moz-box-shadow: 	inset 10px 0 10px rgba(0,0,0,.1);
	box-shadow:		 	inset 10px 0 10px rgba(0,0,0,.1);
}

.rounded-bottom				{
	-webkit-border-radius: 	0;
	-moz-border-radius: 	0;
	border-radius: 			0;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 	8px;
	-moz-border-radius-bottomright: 	8px;
	-moz-border-radius-bottomleft: 		8px;
	border-bottom-right-radius: 		8px;
	border-bottom-left-radius: 			8px;
}
.rounded-left                {
	-webkit-border-radius: 	0;
	-moz-border-radius: 	0;
	border-radius: 			0;
	-webkit-border-top-left-radius:     8px;
	-webkit-border-bottom-left-radius: 	8px;
	-moz-border-radius-topleft: 	    8px;
	-moz-border-radius-bottomleft: 		8px;
	border-top-left-radius: 		    8px;
	border-bottom-left-radius: 			8px;
}

/* Projects */
.project { cursor:pointer; margin:0 0 1.5em; }
.projects article:last-child .project { margin-bottom:0; }
.project:hover a { color:#2ebbd5; }
.project .icon  { 
  width:auto; 
  height:2.5em; 
  margin:0; 
  padding:.25em .3em; 
  background:rgba(199, 223, 223, .8); 
  border:1px solid rgba(0,0,0,.05); 
  position:absolute; 
  top:1em; 
  right:-5px; 
  -webkit-border-radius:5px;
  -moz-border-radius:   5px;
  border-radius:        5px;
	-webkit-box-shadow: rgba(40,40,40,0.1) 0 .1em 5px;
	-moz-box-shadow: 	rgba(40,40,40,0.1) 0 .1em 5px;
	box-shadow:		 	rgba(40,40,40,0.1) 0 .1em 5px;
}

/* Project Styles */
/*#project-build-guild-san-diego .module  { background:url('/images/interface/projects/bg-noise.png'); color:#96B4D3; border:0; }
#project-build-guild-san-diego h1 a     { color:#fff; }
#project-build-guild-san-diego strong   { background:#06111c; border-bottom:1px solid rgba(255,255,255,.2); }
#project-build-guild-san-diego a        { color:#CCFF99; }*/

/* Recommendations */
.recommendation .avatar        { 
  width:4em;
  float:left;
  margin-right:1em;
  border:solid 1px rgba(0,0,0,.1); 
  display:block; 
  -webkit-border-radius:8px;
  -moz-border-radius:   8px;
  border-radius:        8px;
	-webkit-box-shadow: rgba(40,40,40,0.1) 0 .1em 5px;
	  -moz-box-shadow: 	rgba(40,40,40,0.1) 0 .1em 5px;
	    box-shadow:		 	rgba(40,40,40,0.1) 0 .1em 5px;
}
.recommendation .author,
.recommendation .position,
.recommendation .company       { line-height:1.30em; } 
.recommendation .position      { color:#aaa; }
.quote-mark                 { 
  display:inline-block; 
  display:*inline; 
  margin:.1em .1em 0 0; 
  font-size:1.5em; 
  line-height:.6666em; 
  -webkit-transform:rotate(-2deg); 
  -moz-transform:rotate(-2deg); 
}
.quote-mark:last-child      { -webkit-transform:rotate(4deg); -moz-transform:rotate(4deg); }

/* Speech Bubbles */
.bubble                     { 
    position:relative;
    padding:15px;
    margin-bottom:2em;
    -webkit-border-radius:8px;
    -moz-border-radius:   8px;
    border-radius:        8px;
}

.bubble:after               {
    content:"";
    position:absolute;
    bottom:-15px;
    left:4em;
    border-width:15px 15px 0;
    border-style:solid;
    border-color:#3ba1b3 transparent;
    display:block; 
    width:0;
}

/* Buttons */
.bevel {
    background: #2ebbd5;
    background: -moz-linear-gradient(top, #2ebbd5 0%, #3ba1b3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ebbd5), color-stop(100%,#3ba1b3));
    background: -webkit-linear-gradient(top, #2ebbd5 0%,#3ba1b3 100%);
    background: -o-linear-gradient(top, #2ebbd5 0%,#3ba1b3 100%);
    background: -ms-linear-gradient(top, #2ebbd5 0%,#3ba1b3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebbd5', endColorstr='#3ba1b3',GradientType=0 );
    background: linear-gradient(top, #2ebbd5 0%,#3ba1b3 100%);
    color: #fff; 
    text-decoration: none;
       -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
            border-radius: 5px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.3);
}

.button, .button:visited {
    display: block; 
    padding: .25em .5em .2em; 
    position: relative;
    cursor: pointer;
    margin:1.15em 1em 1em;
    font-family:"Nevis","Lucida Grande",Arial,sans-serif;
    text-transform:uppercase;
    text-align:center;
    font-size:1.5em;
}

.button:hover                          { background-color: #2ebbd5; color: #fff; }
.button:active                         { top: 1px; }

/* Code/Gist Display */
pre code 					{ white-space:pre; }
.codeblock					{ padding:.5em 1em; margin-bottom:1em; }
.codeblock span				{ color:#fff !important; }
.gist,
pre,
.codeblock 					{ margin:0 1.5em 2em; }
.gist .gist-file,
pre,
.codeblock 					{ 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #1b1f21;
	border-bottom: 1px solid #2C3233;
	border-right: 1px solid #2C3233;
	-moz-box-shadow: 	inset 0 0 5px rgba(0,0,0,.4);
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.4);
	box-shadow: 		inset 0 0 5px rgba(0,0,0,.4);
}
.gist pre 					{ 
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.gist .gist-file .gist-data,
pre,
.codeblock					{ 
	background:#2b3033 !important; 
	color:#eee; 
	border-bottom: 1px solid #2C3233 !important; 
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.gist .gist-file .gist-data .gist-highlight	{ padding:.75em .5em .5em .5em !important; }
.gist .gist-file .gist-meta	{
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color:#eee !important;
	background:#212526 !important;
	font-size:90%;
	position:relative;
	padding:.5em 1em !important;
}
.gist .gist-file .gist-meta a                     { color:#f6f588 !important; }
.gist .gist-file .gist-meta a[style]              { color:#666 !important; display:block !important; float:none !important; margin:0 0 .5em !important; padding:0 0 .5em; border-bottom:1px solid rgba(255,255,255,.05);  }
.gist .gist-file .gist-meta a[style]:first-child  { color:#f6f588 !important; position:absolute; right:1em; text-align:right; border:0; padding:0; margin:0 !important; }

.gist-syntax span			    { font-weight:normal !important; }
.gist-syntax .nt,   	    	
.gist-syntax .na,
.gist-syntax .s,    	    	
.gist-syntax .nc			    { color:#aa8250 !important; }
.gist-syntax .k				    { color:#F5F4AE !important; }
.gist-syntax .s1				  { color:#9fac7d !important; }
.gist-syntax .s2,   	    	
.gist-syntax .m,    	    	
.gist-syntax .nf			    { color:#6dacc3 !important; }
.gist-syntax .cp			    { color:#726d73 !important; }
.gist-syntax .kd			    { color:#f9f0a8 !important; }
.gist-syntax .mi			    { color:#d77d5f !important; }
.gist-syntax .nb			    { color:#aa96ac !important; }
.gist-syntax .nd			    { color:#d5b67c !important; }
.gist-syntax .o				    { color:#fff !important; }
.gist + a,
.gist-link                { display:none; }

/* Social Links */
.social a { 
  padding:5px 0 4px 22px; 
  display:inline-block; 
  display:*inline; 
}
.social a[href*="github.com"]     { background:url('/images/icons/github_16.png') no-repeat left 5px; }
.social a[href*="twitter.com"]    { background:url('/images/icons/twitter_16.png') no-repeat left 5px; }
.social a[href*="gowalla.com"]    { background:url('/images/icons/gowalla_16.png') no-repeat left 5px; }
.social a[href*="linkedin.com"]   { background:url('/images/icons/linkedin_16.png') no-repeat left 5px; }
.social a[href*="feed/index.xml"] { background:url('/images/icons/rss_16.png') no-repeat left 5px; }

/* Disqus */
#disqus_thread            { margin:-1.15em 1.5em 0; position:relative; }
#dsq-content #dsq-footer  { margin-bottom:0 !important; }
.dsq-reply                { margin-bottom:1.5em;  }

/* Utility Classes */
.clear:after	            { clear:both; display:block; visibility:hidden; overflow:hidden; height:0 !important; line-height:0; content:"."; }
.right						        { float:right; }
.left						          { float:left; }


/* Responsive Segments
---------------------------------------- */

/* Smallest */
@media screen and (max-width: 320px) {
 .small                   { margin:0; text-align:center; display:block; } 
 .comments h1             { background:#fff; width:85%; }
}

/* Small Screens (Smart Phones & Tablets ) */
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 768px)  {
  .gist { margin:0 1.5em; }
  .gist .gist-file { overflow:hidden; }
  .gist .gist-file .gist-data { width:600%; overflow:hidden !important; }
}
/* iPhone Only */
@media screen and (max-device-width: 480px), screen and (max-width: 500px) {
	html                    { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
	
}

/* Low Resolution Browser Windows >= 769px Wide */
@media screen and (min-width: 769px) {
	
}

/* iPad Only */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	
}

/* Average Screen Resolutions */
@media screen and (min-width: 768px) {
	
	/* Grid */
	.line:after,
	.last.unit:after,
	.module:after,
	nav:after               { clear:both; display:block; visibility:hidden; overflow:hidden; height:0 !important; line-height:0; font-size:xx-large; content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "; }
	.line					          { *zoom:1; }
	.line.divided > .unit				      { border-right:1px solid rgba(0,0,0,.1); border-left:1px solid rgba(255,255,255,1); }
	.dark .line.divided > .unit			  { border-right:1px solid rgba(0,0,0,.5); border-left:1px solid rgba(255,255,255,.1); }
	.line.divided > .unit:first-child	{ border-left:0; }
	.line.divided > .unit:last-child 	{ border-right:0; }
	.unit					          { float:left; margin:0; position:relative;	}
	.unit:after				      { display:none; content:""; }
	.size-full				      { float:none; }
	.size-one-half			    { width:50%; }
	.size-one-third			    { width:33.33333%; }
	.size-two-thirds		    { width:66.66666%; }
	.size-one-fourth		    { width:25%; }
	.size-three-fourths		  { width:75%; }
	.size-one-fifth			    { width:20%; }
	.size-two-fifths		    { width:40%; }
	.size-three-fifths		  { width:60%; }
	.size-four-fifths		    { width:80%; }
	.last.unit				      { display:table-cell; float:none; width:auto; *display:block; *zoom:1; _position:relative; _left:-3px; _margin-right:-3px; }
	
	/* Standard Elements */
  hr                      { margin:3em 1.5em; }
  
  /* Layout */
	body > header	          { margin:0 auto 3em; text-shadow: 0 -1px 1px rgba(0, 0, 0, .8), 0 1px 1px rgba(255, 255, 255, .4); }
	
	/* Specific Elements */
	.intro                  { margin:0 auto; }
  .intro .name            { margin-top:.2em; }
  .intro .img             { position:relative; margin:-5em 1em -4em -2em; margin-top:-2em; z-index:20; }
  .intro .tagline         { text-align:left; font-size: 1.8em; margin: .3em 0 0 .8333em; }
	
  .title                  { font-size:2.5em; margin:0 .6em 1em; }
	.module .more           { position:absolute; top:2.175em; right:0; }
	.lores                  { display:none; }
	.hires                  { display:block; }
	.twitter-follow-button  { display:block; }
	.latest-post            { display:inline-block; }
  .small                  { font-size:.8em; margin:0 1.875em; }
  .post-nav               { margin:0 1.5em 3em 3em; }
  .post-nav li            { width:50%; }
  .gist .gist-file .gist-meta a[style]              { float:right !important; margin:0 10px 0 0 !important; padding:0; border-bottom:0;  }
  .gist .gist-file .gist-meta a[style]:first-child  { position:static; right:auto; text-align:right; border:0; padding:0; margin:0 !important; }

                          
  /* Spacing */
  .pan						        { padding:0; }
  .pas						        { padding:.5em; }
  .pam						        { padding:1.5em; }
  .pal						        { padding:2em; }
  .ptn						        { padding-top:0; }
  .pts						        { padding-top:.5em; }
  .ptm						        { padding-top:1.5em; }
  .ptl						        { padding-top:2em; }
  .prn						        { padding-right:0; }
  .prs						        { padding-right:.5em; }
  .prm						        { padding-right:1.5em; }
  .prl						        { padding-right:2em; }
  .pbn						        { padding-bottom:0; }
  .pbs						        { padding-bottom:.5em; }
  .pbm						        { padding-bottom:1.5em; }
  .pbl						        { padding-bottom:2em; }
  .pln						        { padding-left:0; }
  .pls						        { padding-left:.5em; }
  .plm						        { padding-left:1.5em; }
  .pll						        { padding-left:2em; }
  .phn						        { padding-left:0; padding-right:0; }
  .phs						        { padding-left:.5em; padding-right:.5em; }
  .phm						        { padding-left:1.5em; padding-right:1.5em; }
  .phl						        { padding-left:2em; padding-right:2em; }
  .pvn						        { padding-top:0; padding-bottom:0; }
  .pvs						        { padding-top:.5em; padding-bottom:.5em; }
  .pvm						        { padding-top:1.5em; padding-bottom:1.5em; }
  .pvl						        { padding-top:2em; padding-bottom:2em; }
  .man						        { margin:0; }
  .mas						        { margin:.5em; }
  .mam						        { margin:1.5em; }
  .mal						        { margin:2em; }
  .mtn						        { margin-top:0; }
  .mts						        { margin-top:.5em; }
  .mtm						        { margin-top:1.5em; }
  .mtl						        { margin-top:2em; }
  .mrn						        { margin-right:0; }
  .mrs						        { margin-right:.5em; }
  .mrm						        { margin-right:1.5em; }
  .mrl						        { margin-right:2em; }
  .mbn						        { margin-bottom:0; }
  .mbs						        { margin-bottom:.5em; }
  .mbm						        { margin-bottom:1.5em; }
  .mbl						        { margin-bottom:2em; }
  .mln						        { margin-left:0; }
  .mls						        { margin-left:.5em; }
  .mlm						        { margin-left:1.5em; }
  .mll						        { margin-left:2em; }
  .mhn						        { margin-left:0; margin-right:0; }
  .mhs						        { margin-left:.5em; margin-right:.5em; }
  .mhm						        { margin-left:1.5em; margin-right:1.5em; }
  .mhl						        { margin-left:2em; margin-right:2em; }
  .mvn						        { margin-top:0; margin-bottom:0; }
  .mvs						        { margin-top:.5em; margin-bottom:.5em; }
  .mvm						        { margin-top:1.5em; margin-bottom:1.5em; }
  .mvl						        { margin-top:2em; margin-bottom:2em; }
}

/* Large Screen Resolutions */
@media screen and (min-width: 70em) {
  .intro .name            { font-size:8.25em; margin-top:0; }
}


/* Browser Specific Styles
---------------------------------------- */
.lte8 .page,
.lte8 .intro,
.lte8 header,
.lte8 footer   { width:600px; }
