%p#intro
  Kevin Thompson is a web designer and developer, building attractive, flexible solutions for the web and mobile devices.

/ %h2 Latest Blog Posts
/ %ul#articles
/   - blog.articles[0...3].each do |article|
/     %li
/       %a{ href: article.url }= article.title