%section#intro= partial 'sections/intro'
/ %hr
/ %section#technologies= partial 'sections/technologies'
/ %section#blog= partial 'sections/recent_posts'
/ %section#recommendations= partial 'sections/recommendations'